// SDCard
IO_LOC "sd_clk" C11;
IO_PORT "sd_clk" PULL_MODE=UP IO_TYPE=LVCMOS33; 
IO_LOC "sd_cmd" D11;        // MOSI
IO_PORT "sd_cmd" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[0]" B11;       // MISO
IO_PORT "sd_dat[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[1]" G10;
IO_PORT "sd_dat[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[2]" D10;
IO_PORT "sd_dat[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "sd_dat[3]" G11;
IO_PORT "sd_dat[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
